.header{
    display: flex;
    gap: 1rem;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    align-items: center ;
    backdrop-filter: blur(5px);
}

/* condcionales para saber si hay soporte o no de funcones como gap, o bacdrop */
/* si no se soporta lo que entra en el parentesis ejecuta lo de las llaves  */
@supports not(backdrop-filter: blur(5px)){
    .header{
        background: var(--gray30);
    }
}