.title{
    font: var(--baseFont);
    color: var(--gray10);
  }
  
  .title-2{
    font: var(--baseFont);
    color: var(--white);
  }
  
  .details-play{
    inline-size: 44px ;
    margin-inline-start: 1.375rem;
    margin-inline-end: 20px;
    display: flex;
    align-items: center;
  }
  .details-heart{
    inline-size: 44px ;
    flex-basis: content;
    display: flex;
    align-items: center;
    padding-inline-end: .4rem;
    color: white;
  }
  .details-title{
    inline-size: 20.1875rem ;
    block-size: 44px;
    display: flex;
    align-items: center;
    margin-inline-start: 10px;
  }
  .details-artista{
    inline-size: 17.125rem;
    block-size: 44px;
    display: flex;
    align-items: center;
    margin-inline-start: 10px;
  }
  
  .details-album{
    inline-size: 17.125rem ;
    block-size: 44px;
    display: flex;
    align-items: center;
    margin-inline-start: 10px;
  }
  
  .details-calendarIcon{
    inline-size: 5.625rem;
    block-size: 44px;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    margin-inline-start: 10px;
  }
  .details-timeIcon{
    inline-size: 2.9375rem;
    block-size: 44px;
    display: flex;
    align-items: center;
    margin-inline-start: 10px;
  }
  
  .details-cover{
    display: flex;
   /*  border: 2px solid orangered; */
    padding-inline-start: 6.4375rem;
  }
  .details-song{
    display: flex;
   /*  border: 2px solid orangered; */
    
  }
  
  
  .playList-list{
    /* border: 5px pink dashed; */
    block-size: 35.5rem;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
  }
  
  .search2{
    display: flex;
    justify-content: center;
    gap: .55rem;
    line-height: 0;
    block-size: 100%;
    margin-inline-start: 1.375rem;
  }
  .search2 i{
    align-self: center;
    color: var(--white);
  }
  
  .playList-search input {
    font: var(--baseFont);
    margin: 0;
    border: none;
    inline-size: 100%;
    background-color: transparent;
    color: var(--gray10);
  }
  
  .playList-search {
   /*  border: 1px pink dashed; */
    block-size: 2rem;
  }
  
  .playList-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
   /*  border: 1px pink dashed; */
    margin-block-start: 1.5rem;
    
  }
  .espacio{
    margin-inline-start: 1.375rem;
    margin-inline-end: 1.5rem;
    background-image: url('../images/badBunnycover.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  .playList-title-son{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    /* align-items: center; */
    /* border: 2px dashed green; */
    inline-size: 20.5rem;
    block-size: 11.43rem;
  }

 /*  .playList-title-son img{
    inline-size: 100%;
    block-size: auto;
    line-height: 0;
  } */
  
  .playList-title-son h1 {
    font: var(--headline1);
    margin: 0;
    color: var(--white);
  }
  
  .playList-title-son p {
    font: var(--baseFont);
    margin: 0;
    color: var(--white);
    text-align: center;
    display: flex;
  }
  
  .reproducir {
    border-radius: 4.37rem;
    padding-block: .5rem;
    padding-inline: 2rem;
    font: var(--button);
    background-color: var(--primary);
    color: var(--white);
    border: none;
    inline-size: 9.56rem;
  }