
@import '../css/playlist-list.css';
@import '../css/search.css';
@import '../css/navigation.css';
@import '../css/header.css';
@import '../css/sticky.css';

.page{
    /* padding-inline-start: 2em;
    padding-inline-end: 2em; */
    padding-block-end: 0;
    block-size: 42rem;
  /*   border: 4px solid green; */
    overflow-y: scroll;
}

.page-block{
    display: flex;
    flex-direction: column;
    gap: 2em;
   /*  border: 1px dashed red; */
    padding-inline-start: 2rem;
}

/* .page .header{
    margin-block-end: 1rem;
    margin-inline-end: -1.5rem;
    margin-inline-start: -1.5rem;
} */