.search{
    position: relative;
    overflow: hidden;
    flex: 1;
}

.search i{
    position: absolute;
    font-size: 1rem;
    left: .5rem;
    top: calc(50% - .5rem); /* es una funcion que permite hacer calculos sensillos */
    block-size: 1rem;
    color: var(--gray30 );
}

.search:focus-within i{
    color: var(--gray30);
}

.search input{
    font: var(--baseFont);
    border-radius: 1.25rem;
    border: none;
    max-inline-size: 22rem;
    width: 100%; /* tamaños intrinsicos, se pone el 100 paa qque se expanda el tamaño */
    padding: .5rem;
    padding-inline-start: 2rem;
    color: var(--gray30);
}

.search input::-webkit-input-placeholder{
    color: var(--gray10);
}

